<div class="about">
	<h1>About Me</h1>

	<p>
		Namaste! <span class="emoji pray"></span>
	</p>

	<p>My name is Sanket Parmar, and I was born and raised in a small town in Gujarat, India, called <a href="https://goo.gl/maps/P85GeGRv4JAQsWUZ9" target="_blank">Bhanvad</a>.</p>

	<p>I have graduated with Bachelor's Degree in Information Technology from <a href="https://www.ddu.ac.in/" target="_blank">DDIT (Dharmsinh Desai Institute of Technology)</a>. I started working on the ASP.NET framework during my college years and completed several projects.</p>

	<p>But after my studies, I self-taught myself PHP by referring to books and any online material I could find at that time. Since then, I have believed that PHP is simple enough to start learning from scratch without having too much knowledge about coding. My introduction to core coding was through PHP, and then I got involved with WordPress.</p>

	<p>After working on my first WordPress project, I found myself exploring the community around it and started looking at the various job opportunities available. That's when I came across <a href="https://rtcamp.com/" target="_blank">rtCamp</a> and joined them after a few months, giving me a chance to move to a new city <a href="https://goo.gl/maps/yDy3bp7qXGPQpzYT9" target="_blank">Pune, India</a>.</p>

	<p>I got an opportunity to work on projects requiring plugins/themes development, migrations, and I spent a lot of my free time implementing my ideas, which helped me further understand how things work.</p>

	<p>Working with a community spread across the globe and having visibility to so many cool projects that other people were working on (Kudos Open Source!) helped me feed off on all the good things like best practices, shortcuts, workarounds, etc. All these experiences put together have allowed me to reach where I am today, and I hope to continue for many more miles.</p>

	<p>In the last <span class="highlight">12+ years</span>, I have worked on many enterprise-level projects. I have contributed to WordPress ( Core Development + Translation ), created some plugins and worked on many other open-source projects. I was also part of the organiser's team for a couple of <a href="https://twitter.com/WordCampPune" target="_blank">WordCamps in Pune</a>.</p>

	<p>
		During non-work-related hours you will find me reading books, catching up on movies and TV series, swimming and progressing on pet projects undertaken. I try to catch up with friends weekly to play Cricket/Badminton and find a way to include a few rounds of jogging. My friends and I are always in a planning mode for our next bike ride journey, be it inter or intrastate. We also share the same bike model. <span class="emoji wink"></span>
	</p>
</div>