<div class="intro">
	<h1 class="intro__hello">
		Hello!
		<span class="emoji wave-hand animated"></span>
		<br />
		I'm <span class="bold">Sanket Parmar</span>,

		<p class="font-size-body-xxlarge">
			a WordPress <span class="typing">Developer</span> <span class="emoji technologist"></span>
		</p>
	</h1>

	<div style="height: 25px;"></div>

	<p class="font-size-body-xlarge">
		I'm having <span class="highlight">12+ years</span> of experience as a WordPress (PHP) developer and focused on developing innovative solutions for diverse industries. I'm currently working with <a href="https://10up.com/" target="_blank" class="highlight-link">10up</a> as a <span class="highlight">Senior Web Engineer</span>.
	</p>
</div>
