html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

::selection {
	background: var(--c-school-bus-yellow);
}

html,
body {
	background-color: var(--c-white);
	color: var(--c-gun-powder);
	font-family: var(--f-primary);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100vh;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	width: 100%;

	&.night {
		background-color: var(--c-mirage);
		color: var(--c-spun-pearl);

		&::selection {
			background: var(--c-school-bus-yellow);
			color: var(--c-tuna);
		}

		& .switch-wrapper {

			& .sun {
				background: url("../images/switch/sun-white.svg") no-repeat center;
				background-size: 100%;
			}

			& .moon {
				background: url("../images/switch/moon-white.svg") no-repeat center;
				background-size: 100%;
			}
		}

		& a,
		& strong,
		& .intro,
		& .skills .skillz__category__label,
		& .experience .job__time,
		& .footer__copyright,
		& .status {
			color: var(--c-mercury);
		}

		& .section__content .underline-link::after {
			background: var(--c-mercury);
		}
	}
}

a {

	@mixin transition;

	color: inherit;
	font-weight: 700;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

svg {
	fill: currentColor;
	height: 100%;
	width: 100%;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

strong {
	color: var(--c-tuna);
	font-weight: 700;
}

.emoji {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: text-top;
}

.section {
	display: flex;
	justify-content: center;
	padding: 100px 170px;

	@mixin thirteen {
		padding: 100px;
	}

	@mixin desktop {
		padding: 50px;
	}

	@mixin tablet {
		display: block;
	}

	@mixin mobile {
		padding: 50px 35px;
	}

	& .section__title {
		color: var(--c-azure-radiance);
		flex-shrink: 0;
		font-weight: 700;
		letter-spacing: 2px;
		margin-right: 70px;
		text-align: right;
		text-transform: uppercase;
		width: 200px;

		@mixin desktop {
			margin-right: 50px;
		}

		@mixin little-desktop {
			width: 150px;
		}

		@mixin tablet {
			text-align: left;
			width: auto;
		}
	}

	& .section__content {
		font-size: 1rem;
		font-weight: 300;
		max-width: 650px;
		width: 100%;

		@mixin tablet {
			padding-left: 50px;
			padding-top: 30px;
		}

		@mixin mobile {
			padding-left: 30px;
		}

		& p {
			margin-bottom: 25px;
			margin-top: 0;
		}

		& .underline-link {
			display: inline-block;
			position: relative;

			&::after {
				background: var(--c-tuna);
				content: "";
				height: 1px;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 100%;
				transform: translateY(-5px);
				transition: height 0.3s, opacity 0.3s, transform 0.3s;
				width: 100%;
			}

			&:hover,
			&:focus {

				&::after {
					border-radius: 3px;
					height: 2px;
					opacity: 1;
					transform: translateY(-2px);
				}
			}
		}
	}
}

.arrow-link {

	@mixin transition;

	background-color: transparent;
	display: inline-block;
	font-weight: 700;
	white-space: nowrap;

	&::after {

		@mixin transition;

		background: url("../images/arrow.png") no-repeat center;
		background-size: 100%;
		bottom: 2px;
		content: "";
		display: inline-block;
		height: 15px;
		margin-left: 15px;
		position: relative;
		vertical-align: middle;
		width: 15px;
	}

	&:hover::after {
		transform: translateX(7px);
	}
}

.small {
	display: inline-block;
	font-family: var(--f-primary);
	font-size: 0.85rem;
	margin-top: 15px;

	&::after {
		display: none;
	}
}

#top-button {

	@mixin transition;

	background: transparent;
	border: none;
	bottom: 25px;
	cursor: pointer;
	display: none;
	outline: none;
	position: fixed;
	right: 10px;
	width: 40px;

	@mixin desktop {
		bottom: 20px;
		right: 7px;
		width: 35px;
	}

	@mixin mobile {
		bottom: 15px;
		right: 3px;
	}

	&:hover,
	&:focus {
		transform: translateY(-10px);
	}

	& img {
		width: 100%;
	}
}

.waypoint {
	opacity: 0;
	transform: translate3d(0, 20px, 0);
	transition: opacity 0.6s cubic-bezier(0.694, 0, 0.335, 1), transform 0.6s cubic-bezier(0.694, 0, 0.335, 1);
}

.in-view {
	opacity: 1;
	transform: translateZ(0);
}
