html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

::selection {
	background: var(--c-school-bus-yellow);
	color: var(--c-gun-powder);
}

html,
body {
	background-color: var(--c-white);
	color: var(--c-gun-powder);
	font-family: var(--f-primary);
	font-size: var(--fs-body);
	font-weight: var(--fw-body);
	height: 100vh;
	line-height: var(--lh-body);
	margin: 0;
	padding: 0;
	width: 100%;

	&.night {
		background-color: var(--c-mirage);
		color: var(--c-mercury);

		& .switch-wrapper {

			& .sun {
				background: url("../images/switch/sun-white.svg") no-repeat center;
				background-size: 100%;
			}

			& .moon {
				background: url("../images/switch/moon-white.svg") no-repeat center;
				background-size: 100%;
			}
		}

		& a[target="_blank"]::after {
			background: url("../images/external-link-white.svg") no-repeat center;
			background-size: 100%;
		}
	}
}

h1 {
	font-size: var(--fs-h1-tab);
	font-weight: var(--fw-heading);
	letter-spacing: var(--ls-h1);
	line-height: var(--lh-h1-tab);
	margin-bottom: 15px;
	margin-top: 0;

	@media (--bp-large) {
		font-size: var(--fs-h1);
		line-height: var(--lh-h1);
	}
}

h2 {
	font-size: var(--fs-h2-tab);
	font-weight: var(--fw-heading);
	letter-spacing: var(--ls-h2);
	line-height: var(--lh-h2-tab);
	margin-bottom: 15px;
	margin-top: 0;

	@media (--bp-large) {
		font-size: var(--fs-h2);
		line-height: var(--lh-h2);
	}
}

h3 {
	font-size: var(--fs-h3-tab);
	font-weight: var(--fw-heading);
	letter-spacing: var(--ls-h3);
	line-height: var(--lh-h3-tab);
	margin-bottom: 15px;
	margin-top: 0;

	@media (--bp-large) {
		font-size: var(--fs-h3);
		line-height: var(--lh-h3);
	}
}

a {

	@mixin transition;

	box-shadow: inset 0 -3px 0 var(--c-azure-radiance);
	color: inherit;
	display: inline-block;
	padding: 2px 3px;
	text-decoration: none;

	&:hover {
		box-shadow: inset 0 -33px 0 0 var(--c-azure-radiance);
		color: var(--c-white);
	}

	&[target="_blank"]::after {
		background: url("../images/external-link.svg") no-repeat center;
		background-size: 100%;
		content: "";
		display: inline-block;
		height: 14px;
		margin-left: 5px;
		width: 14px;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

svg {
	fill: currentColor;
	height: 100%;
	width: 100%;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

strong {
	color: var(--c-tuna);
	font-weight: 700;
}

.bold {
	font-weight: 700;
}

.highlight {
	background: var(--c-school-bus-yellow);
	color: var(--c-gun-powder);
}

.font-size-body-xxlarge {
	font-size: var(--fs-body-xxlarge);

	& .emoji {
		height: 24px;
		width: 24px;
	}
}

.font-size-body-xlarge {
	font-size: var(--fs-body-xlarge);
}

.emoji {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: text-top;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	padding: 90px 25px 25px;

	@media (--bp-medium) {
		padding: 150px 50px 50px;
	}
}
