.footer {
	background-color: var(--c-white);
	border-top: 2px solid var(--c-gun-powder);
	bottom: 0;
	padding-bottom: 25px;
	position: fixed;
	width: 100%;
	z-index: 99;

	& .intro__contact {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		& .social-links {
			display: flex;
			gap: 12px;
			justify-content: center;

			& .social-link {
				border-radius: 9999px;
				border-style: solid;
				height: 40px;
				width: 40px;

				&:hover {

					@mixin transition;

					transform: scale(1.1);
				}
			}

			& .social-link-anchor {
				border-bottom: none;
				color: inherit;
				height: 100%;
				padding: 0;
				width: 100%;

				& .social-link-label {
					height: 1px;
					margin: -1px;
					overflow: hidden;
					position: absolute;
					width: 1px;
				}

				&:hover {
					box-shadow: none;
				}
			}
		}
	}
}

body.night .footer {
	background-color: var(--c-mirage);
	border-top: 2px solid var(--c-white);
}
