/* Colors */
:root {

	/*
	* Colors
	*/

	--c-mirage: #171C28;
	--c-tuna: #36363C;
	--c-gun-powder: #444452;
	--c-boulder: #777777;
	--c-azure-radiance: #007BFF;
	--c-spun-pearl: #AFAFBF;
	--c-mercury: #E7E7E7;
	--c-white: #FFFFFF;
	--c-yellow-green: #BAE67E;
	--c-electric-violet: #7D0CE8;
	--c-red: #FF0000;
	--c-tahiti-gold: #E8850C;
	--c-school-bus-yellow: #FFDC00;
	--c-golden-tainoi: #FFCC66;
	--c-gray: #808080;
	--c-selective-yellow: #FBB400;

	/*
	* Fonts
	*/
	--f-primary: "Fira Code", sans-serif;
}

@custom-media --bp-tiny-max ( max-width: 374px );
@custom-media --bp-tiny ( min-width: 375px );
@custom-media --bp-small ( min-width: 480px );
@custom-media --bp-small-medium-max ( max-width: 599px );
@custom-media --bp-small-medium ( min-width: 600px );
@custom-media --bp-medium ( min-width: 768px );
@custom-media --bp-large-max ( max-width: 1023px );
@custom-media --bp-large ( min-width: 1024px );
@custom-media --bp-large-footnote-helper ( min-width: 1064px );
@custom-media --bp-xlarge-max ( max-width: 1279px );
@custom-media --bp-xlarge ( min-width: 1280px );
@custom-media --bp-xxlarge ( min-width: 1440px );

/*
 * Mixins
 */
@define-mixin transition {
	transition: all 0.2s ease-in-out;
}

@define-mixin thirteen {

	@media screen and (max-width: 1280px) {
		@content;
	}
}

@define-mixin desktop {

	@media screen and (max-width: 1024px) {
		@content;
	}
}

@define-mixin little-desktop {

	@media screen and (max-width: 850px) {
		@content;
	}
}

@define-mixin tablet {

	@media screen and (max-width: 768px) {
		@content;
	}
}

@define-mixin weird-medium {

	@media screen and (max-width: 630px) {
		@content;
	}
}

@define-mixin phablet {

	@media screen and (max-width: 550px) {
		@content;
	}
}

@define-mixin mobile {

	@media screen and (max-width: 480px) {
		@content;
	}
}

@define-mixin small-mobile {

	@media screen and (max-width: 360px) {
		@content;
	}
}

@define-mixin tiny-mobile {

	@media screen and (max-width: 330px) {
		@content;
	}
}

@keyframes wave {

	from {
		transform: none;
	}

	15% {
		transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
	}

	30% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
	}

	45% {
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
	}

	60% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
	}

	75% {
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
	}

	to {
		transform: none;
	}
}
