.intro {
	text-align: center;

	& .intro__hello {

		& .emoji {
			height: 34px;
			width: 34px;

			@media (--bp-large) {
				height: 48px;
				width: 48px;
			}
		}

		& .wave-hand {
			background-image: url("../images/emojis/wave.png");
			cursor: pointer;
			margin-left: 10px;

			&.animated {
				animation-duration: 1s;
				animation-fill-mode: both;
			}

			&.wave {
				animation-name: wave;
			}
		}
	}

	& .technologist {
		background-image: url("../images/emojis/technologist.png");
		position: relative;
	}

	& .typing {
		border-bottom: 3px solid var(--c-gun-powder);
		color: var(--c-gun-powder);
		position: relative;

		&::before {
			animation: typing 4s steps(12) infinite;
			background-color: var(--c-white);
			border-left: 3px solid var(--c-gun-powder);
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	& .intro__contact {
		font-size: 1.25rem;
		font-weight: 400;

		@mixin phablet {
			font-size: 1rem;
		}

		& .emoji {

			&.pointer {
				background-image: url("../images/emojis/pointright.png");
				height: 30px;
				margin: 0 5px;
				vertical-align: text-bottom;
				width: 30px;

				@mixin phablet {
					height: 25px;
					width: 25px;
				}
			}
		}
	}
}

body.night .intro .typing {
	border-bottom: 3px solid var(--c-mercury);
	color: var(--c-mercury);

	&::before {
		background-color: var(--c-mirage);
		border-left: 3px solid var(--c-mercury);
	}
}
