.menu {
	align-items: center;
	color: var(--c-white);
	display: flex;
	flex-basis: 33%;
	justify-content: left;
	padding-left: 25px;

	@media (--bp-medium) {
		padding-left: 50px;
	}

	& [type="checkbox"] {
		height: 0;
		margin: 0;
		opacity: 0;
		width: 0;

		&:checked + label > span {
			visibility: hidden;

			&::before {
				transform: rotateZ(44deg);
				visibility: visible;
			}

			&::after {
				transform: rotateZ(-44deg);
				visibility: visible;
			}
		}

		&:checked ~ .menu-nav {
			box-shadow: 1px 1px 1px 1px var(--c-gun-powder);
			transform: translateX(0);
		}
	}

	& .menu-bar {
		align-items: center;
		cursor: pointer;
		display: flex;
		height: 1.5em;
		position: relative;
		width: 2em;
		z-index: 40;

		& span {
			border: 1px solid var(--c-gun-powder);
			display: block;
			transition: 150ms;
			width: 100%;

			&::before {

				@mixin transition;

				border: 1px solid var(--c-gun-powder);
				box-sizing: border-box;
				content: "";
				display: block;
				left: 0;
				position: absolute;
				top: 0;
				transform-origin: left;
				width: 100%;
			}

			&::after {

				@mixin transition;

				border: 1px solid var(--c-gun-powder);
				bottom: 0;
				box-sizing: border-box;
				content: "";
				display: block;
				left: 0;
				position: absolute;
				transform-origin: left;
				width: 100%;
			}
		}
	}

	& .menu-nav {

		@mixin transition;

		background-color: var(--c-white);
		display: flex;
		flex-direction: column;
		height: 100vh;
		left: 0;
		min-width: 240px;
		padding: 104px 25px;
		position: absolute;
		row-gap: 1rem;
		top: 0;
		transform: translateX(-100%);

		@media (--bp-medium) {
			padding: 104px 50px;
		}

		& .nav-item {
			color: var(--c-gun-powder);
		}
	}
}

body.night {

	& .menu {

		& .menu-bar span {

			border: 1px solid var(--c-white);

			&::before {
				border: 1px solid var(--c-white);
			}

			&::after {
				border: 1px solid var(--c-white);
			}
		}

		& .menu-nav {
			background-color: var(--c-mirage);

			& .nav-item {
				color: var(--c-white);
			}
		}

		& [type="checkbox"]:checked ~ .menu-nav {
			box-shadow: 1px 1px 1px 1px var(--c-white);
		}
	}
}
