.switch-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	position: absolute;
	right: 30px;
	top: 20px;

	@mixin mobile {
		right: 20px;
		top: 10px;
	}

	& .sun,
	& .moon {
		height: 17px;
		width: 17px;
	}

	& .sun {
		background: url("../images/switch/sun.svg") no-repeat center;
		background-size: 100%;
	}

	& .moon {
		background: url("../images/switch/moon.svg") no-repeat center;
		background-size: 100%;
	}

	& .toggle-wrapper {
		margin: 10px;

		& #switch {
			height: 0;
			position: absolute;
			visibility: hidden;
			width: 0;

			&:checked + label {
				background-color: var(--c-yellow-green);
			}

			&:checked + label::after {
				left: calc(100% - 3px);
				transform: translateX(-100%);
			}
		}

		& label {
			background: var(--c-gray);
			border-radius: 100px;
			cursor: pointer;
			display: block;
			height: 25px;
			position: relative;
			text-indent: -9999px;
			width: 45px;

			&::after {

				@mixin transition;

				background: var(--c-white);
				border-radius: 100%;
				content: "";
				height: 19px;
				left: 3px;
				position: absolute;
				top: 3px;
				width: 19px;
			}
		}
	}
}
