.switch-wrapper {
	align-items: center;
	display: flex;
	flex-basis: 33%;
	justify-content: right;
	padding-right: 25px;

	@media (--bp-medium) {
		padding-right: 50px;
	}

	& .sun,
	& .moon {
		height: 17px;
		width: 17px;
	}

	& .sun {
		background: url("../images/switch/sun.svg") no-repeat center;
		background-size: 100%;
	}

	& .moon {
		background: url("../images/switch/moon.svg") no-repeat center;
		background-size: 100%;
	}

	& .toggle-wrapper {
		margin: 10px;

		& #switch {
			height: 0;
			position: absolute;
			visibility: hidden;
			width: 0;

			&:checked + label {
				background: var(--c-mercury);
			}

			&:checked + label::after {
				background: var(--c-gun-powder);
				left: calc(100% - 3px);
				transform: translateX(-100%);
			}
		}

		& label {
			background: var(--c-gun-powder);
			border-radius: 100px;
			cursor: pointer;
			display: block;
			height: 25px;
			position: relative;
			text-indent: -9999px;
			width: 45px;

			&::after {

				@mixin transition;

				background: var(--c-white);
				border-radius: 100%;
				content: "";
				height: 19px;
				left: 3px;
				position: absolute;
				top: 3px;
				width: 19px;
			}
		}
	}
}
